{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>메인페이지</h2>
    <ul>
        <a href="{% url 'member:login' %}"><li>login</li></a>
        <a href="#"><li>회원가입</li></a>
        <li>---------</li>
        <a href="#"><li>logout</li></a>
        <a href="{% url 'member:list' %}"><li>전체회원리스트</li></a>
    </ul>
    <img src="{% static 'images/member/hh1.jpg' %}">
    <br>
    <img src="{% static 'images/hh1.jpg' %}">

</body>
</html>